# Android & Kotlin build files
.gradle/
.kotlin/
build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
/local.properties
debug.keystore

# IDE settings
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Python virtual environment & cache
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database & Environment
.env
*.db
*.db-journal
*.sqlite
